<footer class="site-footer">
    <div class="footer-content">
      <div class="logo">
        <a href="https://www.healthcareinformatics.co.in/images/HealthcareInformatics.png">
          <img src="https://www.healthcareinformatics.co.in/images/HealthcareInformatics.png" alt="Company Logo"  >
        </a>
      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        
      </div>
      <div class="contact-info">
        <p>In case of any queries please contact our Customer Support.</p>
        <p>Company Address</p>
        <p>Healthcare Informatic [SIGNET]</p>
        <p>3RD Floor, Tower A, SIGNET Plaza,</p>
        <p>Kunal Cross Roads, Sumant Park, Gotri</p>
        <p>Vadodara, Gujarat 3900023</p>
        <p>Phone: 9995641287</p>
        <p>Email: bhaskardhage8237@gmail.com</p>
      </div>
      
    </div>
  </footer>
  
