
 <div style="text-align: center;">
    <div *ngFor="let ele of userList;  let i = index">
        <div class="mt-2">{{ ele.first_name }}</div>
        <div class="mt-2">{{ ele.email }}</div>
        <img src="{{ ele.avatar }}" alt="Image">
        <br><br>
         &nbsp;  
        <button class="btn btn-primary" (click)="deleteUser(ele.id)"> Delete</button>
        &nbsp;  
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add User
        </button>
        &nbsp;  
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openUpdateModal(ele)">Update</button>
    </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
              <div class="mb-3">
                <label for="exampleInputFname1" class="form-label">First Name</label>
                <input type="text" name="first_name" ngModel class="form-control" id="exampleInputFname1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" name="last_name" ngModel class="form-control" id="last_name">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" name="email" ngModel class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="Image_url" class="form-label">Image url</label>
                <input type="text" name="avatar" ngModel class="form-control" id="Image_url">
              </div>
              <button type="submit" class="btn btn-primary float-end">Submit</button>
            </form>
          </div>
         
        </div>
      </div>
    </div>
    
     
    